html {
  height: 100%;
}


body {
  color: white;
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 25px;
  margin-top: 30px;
  width: 420px;
  height: auto;
  box-shadow: 2px 5px 7px rgb(80, 77, 77);
  background-color: green;
}

.gameIntro{
  color: gold;
  font-size: 1.8rem;
}

.btn{
  color: chocolate ;
  font-weight: bold;
  width: 200px;
  padding: 12px;
  margin: 5px;
}

#startBtn{
  background: gold;
  font-size: large;
}



#newBtn{
  background: gold;
  font-size: large;
} 

